/* BASE PAGE STYLES */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: transparent;
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.88rem;
  height: 100%;
  text-align: center;
}

body {
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 13%);
  min-height: 100%;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  position: relative;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
button:hover,
button:active,
button:focus,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

/* Button styles */
.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button,
.button:visited,
.button:hover,
.button:active,
.button:focus {
  background: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  line-height: normal;
  padding: 0;
  width: auto;
}

.button:hover {
  text-decoration: none;
}